<div class="banner">
    <h2>
        <a href="~/Home/Index">Home</a>
        <i class="fa fa-angle-right"></i>
        <span>Página inicial</span>
    </h2>
</div>

<div class="blank">
    <div class="blank-page">
        <p>
            Seja bem vindo, esté é um prototipo de sistema que serve como um tutorial para usuários do webService eSocial
        </p>
    </div>
</div>